@for $i from 1 through 4 {
    $base: 10;
    $fontsize: $base * $i;
    .font-#{$fontsize} {
        font-size: $fontsize + 0px;
    }
}

// ====font-size===== //
@mixin Flex($x, $y) {
    display: flex;
    @if $x !=null {
        align-items: $x;
    }
    @if $y !=null {
        justify-content: $y;
    }
}
